<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <title>用户注册</title>
    <script type="text/javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</head>
<body>
<!--<form action="save" method="POST">-->
<form action="/boot/tuser/save" method="POST">
    <input type="text" name="userName" />
    <input type="password" name="password" />
    <input type="submit" value="注册" />
</form>

</body>
</html>